.header,
.header-space,
.footer,
.footer-space {
  height: 110px;
}

.print--icon {
  cursor: pointer;
  font-size: 3rem;
}

.print--icon--container {
  display: flex;
  position: absolute;
  top: 22%;
  right: 5%;
}

.print--icon:hover {
  font-size: 5rem;
}

div.header {
  position: fixed;
  top: 0;
  justify-content: center;
  border-bottom: solid 1px;
  display: none;

}

.print--container {
  width: 100%;
}

.table--cell {
  border: solid 1px;
  padding: 5px;
}

table.print--mode {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.print--heder {
  margin-right: 15px;
  align-self: center;
  position: fixed;
}
.heder--subject {
  top: 1%;
}

.heder--instructor {
  top: 3%;
}

.heder--date {
  direction: ltr;
  top: 5%;
}

.heder--duration {
  top: 7%;
}

.hide {
  display: none;
}

.table--direction {
  direction: rtl;
}

@media print {
  .hide {
    display: table !important;
  }

  .header {
    display: flex!important;
    width: 100%;
  }

  .print--heder--duration,
  .print--heder--subject {
    display: block;
  }

  nav {
    display: none;
  }

  tr,
  th,
  td {
    page-break-inside: avoid!important;
    page-break-after: auto!important;
  }
  td{
    padding: 3.5vw
  }
}