*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.Mui-error.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root
{
  left: auto!important;
  margin: 0 2rem;
}
.isBooked{
  background-color: #ff5722;
  cursor: auto!important;
  
}
.avoid--element-conflict{
  margin-top: 1rem;
}
.hide{
  display: none!important;
}
.display{
  display: contents;
}
.display--name{
  margin-right: 4%;
    margin-top: 2%;
  }

.finished--exam{background-color: #ccc!important;}
tr.finished--exam:nth-child(even){ background-color: #ccc};
table>thead>tr>th.finished--ex--heder:nth-child(even){background-color: #607d8b;}
table>thead>tr>th.finished--ex--heder{background-color: #607d8b!important;}

.available{
  background-color: #8bc34a;
}
.delete-appointment-clicked{
  background-color: #ff5722!important;
  text-decoration: line-through;
  cursor: pointer;
  
}
.delete-appointment{
  cursor: pointer;
}
.tableBody.table--operation--container{
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}
.date-cell{
  direction: ltr;
}
.single--icon{
  cursor: pointer;
}
.setting--icons{
  font-size: 1.5rem;
}
.setting--icons:hover{
  font: 1.8em;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding: 0; 
    font-family:' Amiri-normal Encode Sans Expanded Roboto', sans-serif;
    font-family: 'Amiri-normal', normal;
  }